a {
  color: seagreen;
}
.hoje {
  color: darkred;
}
#tithj {
  color: gold;
}
#shopsp {
  color: greenyellow;
}
.amanha {
  color: darkblue;
}
p {
  font-size: 20px;
}
body {
  font-family: Arial;
}
